.card .card-content p {
    text-align: justify;
}

.card, .trending .row .card {
    max-height: 278px;
}

.card .card-content, .trending .row .card .card-content {
    overflow:  hidden;
}


@media (max-width: 420px) {
    .card .card-content p {
        display: none;
    }
}
