.searchMovie {
    margin: 0 auto;
    max-width: 600px;
}

.searchMovie .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchList .row, .trending{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}




