<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="searchMovie">

  <div class="row">
    <div class="input-field col s9">
      <input type="text" id="query" name="query" formControlName="query">
      <label for="query">Введите название</label>
    </div>
    <button class="waves-effect waves-light btn col s3">ЁПТА</button>
  </div>

  <div *ngIf="isSubmitted && getForm().query.errors" class="invalid-feedback">
    <div *ngIf="getForm().query.errors.required">email не может быть пустым</div>
  </div>

</form>

<div *ngIf="countResults === 0 && isSubmitted">
  <p>Ни чего не найдено</p>
</div>
<div *ngIf="isLoading">
  <p>Загружаю результаты, подождите</p>
</div>

<div class="searchList" *ngIf="countResults">

  <div class="row">
    <div>Результатов поиска: {{ countResults }}</div>
  </div>

  <div class="row">
    <div class="col s6" *ngFor="let result of results">
      <h5 class="header">
        <a [routerLink]="['/movie/' + result.id]">{{ result.title }}</a>
      </h5>
      <div class="card horizontal">
        <div class="card-image" *ngIf="result.poster_path">
          <img alt="{{ result.title }}" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ result.poster_path }}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ result.overview }}</p>
          </div>
          <div class="card-action">
            <a [routerLink]="['/movie/' + result.id]">глянуть че там</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row trending" *ngFor="let result of trending">

  <div class="row">
    <div class="col s12">
      <h5 class="header">
        <a [routerLink]="['/movie/' + result.id]">{{ result.title }}</a>
      </h5>
      <div class="card horizontal">
        <div class="card-image" *ngIf="result.poster_path">
          <img alt="{{ result.title }}" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ result.poster_path }}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ result.overview }}</p>
          </div>
          <div class="card-action">
            <a [routerLink]="['/movie/' + result.id]">глянуть че там</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
