/* You can add global styles to this file, and also import other style files */
body {
    background: #eee;
    max-width: 1920px;
}

.wrapper {
    padding: 15px;
}
nav ul a {
    color: black;
}
nav .brand-logo {
    padding: 0 15px;
}
